<app-string-list-item *ngFor="let elem of items; let i=index"
                      [number]="i"
                      [messageThenDelete]="messageThenDelete"
                      [(ngModel)]="items[elem.index].value"
                      (ngModelChange)="onChangeValue($event)"
                      (delete)="onDelete($event)"
                      (errors)="onErrorInItem($event)"
></app-string-list-item>

<div class="form-group row mt-2" (blur)="onTouched($event)">
    <div class="col text-right">
        <button class="btn btn-outline-primary" type="button"
                (click)="addNewElem()"
                [disabled]="!isPossibilityNewElem()"
                >{{textInAddedButton}}
        </button>
    </div>
</div>
