<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header pl-0">

    </div>
    <!-- END navbar header-->
    <ul class="navbar-nav mr-auto flex-row">

    </ul>
    <!-- START Right Navbar-->
    <div class="d-flex">
        <ul class="navbar-nav flex-row">

<!--            <li class="nav-item flex-align-center">-->
<!--                <a class="nav-link" [routerLink]="" (click)="switchLanguage.switchLanguage()">-->
<!--                    <app-switch-language #switchLanguage></app-switch-language>-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item cursor-pointer" style="margin-top: 2px;">
                <a class="nav-link">
                    <i class="fa icon-logout"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- END Right Navbar-->

</nav>
<!-- END Top Navbar-->

