<div class="abs-center wd-xl">
    <!-- START card-->
    <div class="text-center mb-4">
        <div class="text-lg mb-3">404</div>
        <p class="lead m-0" translate>Missing</p>
        <p translate>The page you are looking for does not exists</p>
    </div>
    <div class="input-group mb-4">
        <input class="form-control" type="text" placeholder="Try with a search">
        <span class="input-group-btn">
         <button class="btn btn-secondary" type="button">
            <em class="fa fa-search"></em>
         </button>
      </span>
    </div>
    <ul class="list-inline text-center text-sm mb-4">
        <li class="list-inline-item"><a class="text-muted" href="/" translate>Back home</a>
        </li>
    </ul>
    <div class="p-3 text-center">
        <div>
            <span translate>Developed by Gramant</span>
            <img class="img-fluid" src="assets/img/gramant_logo_sm.png" width="15px" alt="Gramant Logo"/>
        </div>
    </div>
</div>
